@using OnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Ad: @Html.TextBox("p")<input type="submit" value="Ara"/>

    </p>
}
<h2>Ürün Listesi</h2>

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.UrunAlis ₺</td>
            <td>@u.UrunSatis ₺</td>
            <td>@u.Kategori.KategoriAd</td>
            <td><a href="/Urun/UrunSil/@u.UrunID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@u.UrunID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Urun/SatisYap/@u.UrunID" class="btn btn-default" style="background-color:blue; color:white" >Satış Yap</a></td>
        </tr>

    }

</table>
<a href="/Urun/UrunEkle/" class="btn btn-primary">Yeni Ürün</a>

